{{#each this}}
 <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex pt-3">
      <p class="pb-3 mb-0">
      {{body_comment}}
      </p>
    </div>
    <div class="d-block mt-1">
     <p class="pb-3 mb-0 small lh-sm comment-text"> - {{user.username}} on {{format_date created_at}}</p> 
    </div>
  </div>
{{/each}}
