 <div class="row">
       <h3 class="pt-4">Login</h3>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
     <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3" type="submit">login</button>
      </div>
    </form>
    <div class="row mt-3">
        <a class="login-link" href="/signup">Sign up instead</a>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
