body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: .25px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #101010;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
  color: #5e5f5f;
}
h6 {
	font-size: 16px;
}
p {
  color: #8e949f;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 28px;
}

a {
	text-decoration: none !important;
	font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

p {
  font-size: 18px;
  color: #7c838b;
  margin-bottom: 6px;
}

/* .btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-primary:hover {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-secondary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-secondary:hover {
  background-color: #2d3e50;
  color: #d9e9e8;
} */


.btn-primary {
  background-color: #3fa4dd !important;
  background: #3fa4dd;
  border-color: #3fa4dd;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary:hover {
  border-color: #3fa4dd;
  color: #3fa4dd;
  background: #ffffff;
  background-color: #ffffff !important;
}

.btn-secondary {
  background-color:  #d7d7d7 !important;
  background:  #d7d7d7;
  border-color:  #d7d7d7;
  color: #5c5c5c;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-secondary:hover {
  border-color: #5c5c5c;
  color: #5c5c5c;
  background: #ffffff;
  background-color: #ffffff !important;
}

.btn-outline-primary {
  border-color: #3fa4dd;
  color: #3fa4dd;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-outline-primary:hover {
  border-color: #3fa4dd;
  color: #ffffff;
  background: #3fa4dd;
}


.blog-title{
  font-weight: normal;
	color: #3fa4dd;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: 16px;
  text-transform: uppercase;
}

.bg-light {
  background-color: #f0f3f6 !important;
}

#new-post-row {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: flex!important;
}

form .form-group {
  margin: 0 0;
}

.comment-text {
  font-style: italic;
}

.meta-data {
  font-size: 15px;
  color: #929496;
}

small {
 font-size: 16px;
 color: #929496;
}

small span {
  margin: 0 7px;
  color: #aaaaaa;
}

form input, form select {
  width: 100%;
  height: 46px;
  line-height: 44px;
  float: left;
  border: 1px solid #dee0e2 !important;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 16px;
  color: #393c3f;
}

form textarea {
  width: 100%;
  min-height: 140px;
  float: left;
  border: 1px solid #dee0e2 !important;
  border-radius: 6px;
  padding: 15px;
}


.blog-title-container {
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 576px){
  .blog-title-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}